@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Montserrat&family=Source+Sans+Pro&display=swap');
@font-face {
    font-family: cyberpunk;
    src: url('font/CyberwayRiders.woff') format('woff');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #0d1117; */
}

html{
    height: 100%;
    width: 100%;
}

body{
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    /* color: #0d1117; */
    color: #fced09;
    font-family: Lora, serif;
    font-size: 1.6vh;
    line-height: 2vh;

}

h1, h2, h3{
    font-family: cyberpunk;
}

h1{
    font-size: 4.8vh;
    line-height: 7.2vh;
}

h2{
    font-size: 3.6vh;
    line-height: 4.8vh;
}

h3{
    font-size: 3vh;
    line-height: 4.5vh;
}

nav > a {
    color: #fced09;
    padding: 4px 4px;
    text-decoration: none;
    opacity: 0.6;
    border-radius: 4px;
}

nav > a:visited{
    color: #fced09;
}

nav{
    position: fixed;
    z-index: 999;
    text-align: center;
    font-family: cyberpunk;
    font-size: 2vh;
    line-height: 3vh;
    border-radius: 4px;
    color: #fced09;
}

article{
    font-family: BIZ UDPMincho;
    margin: 0;
    padding: 1vh 1vw;
    color: #fced09;
    /* backdrop-filter: none; */
    backdrop-filter: blur(5px) invert(0);
    border-radius: 1vh;
}

section{
    margin: 1.2vh 0;
}

section > p{
    text-indent: 5%;
}

p{
    margin: 0.2vh 0;
}

span.x{
    font-family: cyberpunk;
    font-size: 2.2vh;
}

a, a:visited{
    color: #fced09;
    text-decoration: underline;
}

img.cur{
    transition: all 0.3s ease-out;
    display: inline-block;
}

img.ncur{
    transition: all 0.3s ease-out;
    display: none;
}

img.bg{
    max-width: 100%;
    /* text-align: center center; */
    /* filter: blur(5px); */
    filter: none;
    overflow: hidden;
    transform: scale(1.1);
    /* z-index: -1; */
}

img.ani{
    width: 20vh;
    height: 20*2560/1440vh;
    position: absolute;
    animation-name: MoveToRight;
    animation-duration: 2s;
    /* animation-delay: 2s; */
    animation-iteration-count: infinite;
}

@keyframes MoveToRight {
    from { 
        left: -10%;
    }

    to { 
        left: 110%; 
    }
}
