@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&family=Source+Sans+Pro&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #0d1117;
}

html{
    height: 100%;
    width: 100%;
}

body{
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* background-color:#0d1117; */
    color: #8b949e;
    font-family: Lora, serif;
    font-size: 1.5vh;
    line-height: 1.8vh;
}

h1, h2, h3{
    font-family: Poppins, sans-serif;
}

h1{
    font-size: 4.8vh;
    line-height: 7.2vh;
    margin: 1vh 0;
}

h2{
    font-size: 3.6vh;
    line-height: 4.8vh;
}

h3{
    font-size: 3vh;
    line-height: 4.5vh;
}

nav > a {
    background-color: #323232;
    color: white;
    padding: 2px 4px;
    text-decoration: none;
    opacity: 0.6;
}

nav > a:visited{
    color: white;
}

nav{
    position: fixed;
    z-index: 999;
    top: 10px;
    left: 10px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 2vh;
    line-height: 3vh;
}

article{
    margin: 1.5vh 0;
    padding: 1vh 5vw;
}

section{
    margin: 1.2vh 0;
}

section > p{
    text-indent: 5%;
}

p{
    margin: 0.2vh 0;
}

a, a:visited{
    color: #323232;
    text-decoration: underline;
}

img.ani{
    width: 20vh;
    height: 20*2560/1440vh;
    position: relative;
    animation-name: MoveToRight;
    animation-duration: 2s;
    /* animation-delay: 2s; */
    animation-iteration-count: infinite;
}

@keyframes MoveToRight {
    from { 
        left: -10%;
    }

    to { 
        left: 110%; 
    }
}

img.bg{
    max-width: 120%;
    text-align: center center;
    backdrop-filter: blur(5px);
    z-index: -1;
}