@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&family=Source+Sans+Pro&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    width: 100%;
}

body{
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* background-color: white; */
    background-color:white;
    color: #000a16;
    font-family: Lora, serif;
    font-size: 2.4vh;
    line-height: 3.6vh;
}

h1, h2, h3{
    font-family: Poppins, sans-serif;
}

h1{
    font-size: 4.8vh;
    line-height: 7.2vh;
    margin: 1vh 0;
}

h2{
    font-size: 3.6vh;
    line-height: 4.8vh;
}

h3{
    font-size: 3vh;
    line-height: 4.5vh;
}

nav{
    position: fixed;
    z-index: 999;
    top: 10px;
    left: 10px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 2vh;
    line-height: 3vh;
}